<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>

    <script src="{{ path-assets }}/test.js"></script>
</head>
<body>
{{> head }}
{{> web/footer }}

</body>
</html>